// background colours
$background-color: #f7f5e6;
$secondary-background: #dedbc3;
$complete-color: #7eea6379;
$incomplete-color: #eaed4c88;
$unstarted-color: #df464677;
$button-color: rgb(171, 171, 171);

// font colors
$primary-font: #000;
$secondary-font: #292d43;
$third-font: #2b3955;

// font sizes
$large-font: 42px;
$small-font: 16px;

// font weights
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;

$flare-color: rgb(64, 123, 224);
