@import "../../sass/variables";
@import "../../sass/mixins";

.topbar-wrapper {
	background-color: $background-color;
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	align-items: center;
	// background-color: $secondary-background;
	border-bottom: 1px solid rgb(211, 211, 211);
	position: sticky;
	top: 0;
	z-index: 999;
}

.title-area {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	align-items: center;
	// div {
	// 	width: 60px;
	// 	height: 60px;
	// 	background-color: gray;
	// 	border-radius: 50%;
	// 	margin-left: 30px;
	// }
	img {
		width: 60px;
		height: 60px;
		margin-left: 30px;
	}

	h1 {
		@include title;
		margin-left: 20px;
		color: black;
	}
}

.account-area {
	margin-right: 80px;
	padding: 8px 15px;
	// background-color: rgb(230, 233, 208);
	background-color: #dcf2f7;
	border-radius: 4px;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
	color: black;
	img {
		margin-left: 10px;
		height: 35px;
	}
}

.projects-nav {
	@include nav-button;
	font-size: 22px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.selected-page {
	border: 1px solid rgb(169, 169, 169);
}
