@import "../../../sass/mixins";
@import "../../../sass/variables";

.edit-list-wrapper {
	// display: flex;
	// flex-direction: row;
	// justify-content: space-evenly;
	margin-bottom: 20px;
	// font-size: 18px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2vw;
	// align-items: center;
	text-align: center;
	div {
		.list-title {
			@include subheading;
			margin-bottom: 6px;
		}
	}

	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		li {
			background-color: rgb(223, 223, 223);
			border-radius: 4px;
			p {
				padding: 10px 15px;
				// flex-grow: 1;
				text-align: left;
			}
			margin: 5px 0px;
			width: 29vw;
			// width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			@include small-font;
			button {
				text-align: center;

				@include unselected-button;
				background-color: rgba(255, 255, 255, 0);
				// width: 1em;
				// height: 1em;
				padding: 0;

				margin: 0;
				margin-right: 8px;
				// background-color: rgb(233, 86, 86);
				// border: 1px solid rgb(233, 86, 86);
				color: rgb(233, 86, 86);
				border: none;
				font-weight: $medium-weight;
				font-size: 40px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	button {
		display: block;
		font-size: 20px;
		padding: 10px 15px;
		margin: 0 auto;
		@include large-button;
	}
}
